
<header class="header-wrap">
  <div class="container">
  <mat-toolbar class="header">
    <a href="#">
      <img src="./assets/logo.svg" alt="Logo">
    </a>
    <nav>
      <ul class="header-menu">
        <li><a href="">Как купить?</a></li>
        <li><a href="">Как продать?</a></li>
        <li><a href="">Новости</a></li>
        <li><a href="">О проекте</a></li>
        <li><a href=""><mat-icon>favorite</mat-icon> <span class="text--black">Избранное</span></a></li>
        <li><a href=""><mat-icon>favorite</mat-icon> <span class="text--black">Личный кабинет</span></a></li>
      </ul>
    </nav>
<!--    <a mat-icon-button class="example-icon favorite-icon">-->

<!--    </a>-->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  </div>
</header>

